%p.lead
  %span To register a new runner you should enter the following registration token. With this token the runner will request a unique runner token and use that for future communication.
  %code #{GitlabCi::REGISTRATION_TOKEN}

.bs-callout
  %p
    A 'runner' is a process which runs a build.
    You can setup as many runners as you need.
    %br
    Runners can be placed on separate users, servers, and even on your local machine.
    %br

  %div
    %span Each runner can be in one of the following states:
    %ul
      %li
        %span.label.label-success shared
        \- run builds from all unassigned projects
      %li
        %span.label.label-info specific
        \- run builds from assigned projects
      %li
        %span.label.label-danger paused
        \- runner will not receive any new builds

.append-bottom-20.clearfix
  .pull-left
    = form_tag admin_runners_path, id: 'runners-search', class: 'form-inline', method: :get do
      .form-group
        = search_field_tag :search, params[:search], class: 'form-control', placeholder: 'Runner description or token', spellcheck: false
      = submit_tag 'Search', class: 'btn'

  .pull-right.light
    Runners with last contact less than a minute ago: #{@active_runners_cnt}

%br

.table-holder
  %table.table
    %thead
      %tr
        %th Type
        %th Runner token
        %th Description
        %th Projects
        %th Builds
        %th Tags
        %th Last contact
        %th

    - @runners.each do |runner|
      = render "admin/runners/runner", runner: runner
= paginate @runners
